@page "/records/{Page:int}"
@inherits LiJunSpace.ViewModels.IndexComponentViewModel;

<PageTitle>爱情主页</PageTitle>
<div style="display: flex">
    <MudButton HtmlTag="label"
               Style="margin-left:auto;margin-right:10px;margin-top:10px"
               Variant="Variant.Filled"
               OnClick="NewRecord"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.Edit">
        发布
    </MudButton>
</div>
@if (Events != null && Events.Count > 0)
{
    <MudPaper Style="margin:10px">
        <MudList Clickable="true">
            @foreach (var eventItem in Events)
            {
                <MudListItem>
                    @if (eventItem.Desc)
                    {
                        <MudText>
                            @eventItem.Title
                            还有
                            <MudElement HtmlTag="a"
                                        Class="ms-1"
                                        Style="color:red;font-weight:bold;;font-size:22px"
                                        href="https://github.com/MudBlazor/MudBlazor"
                                        target="blank"
                                        rel="noopener noreferrer">
                                @eventItem.Time.Subtract(DateTime.Now).Days
                            </MudElement>
                            天
                        </MudText>
                    }
                    else
                    {
                        <MudText>
                            @eventItem.Title 已经<MudElement HtmlTag="a"
                                        Class="ms-1"
                                        Style="color:red;font-weight:bold;font-size:22px"
                                        href="https://github.com/MudBlazor/MudBlazor"
                                        target="blank"
                                        rel="noopener noreferrer">
                                @DateTime.Now.Subtract(eventItem.Time).Days
                            </MudElement>
                            天
                        </MudText>
                    }
                </MudListItem>
                <MudDivider />
            }
        </MudList>
    </MudPaper>
}
@foreach (var record in Records)
{
    <MudCard Style="margin:10px" onclick="@(()=>{OpenRecordDetail(record);})">
        <MudCardHeader>
            <CardHeaderAvatar>
                <MudAvatar>
                    <MudImage onclick="@(()=>{OpenUserDetail(record.PublisherId);})" Src='@($"{Program.APIEndPoint}/api/avatars/{record.PublisherAvatar}")'></MudImage>
                </MudAvatar>
            </CardHeaderAvatar>
            <CardHeaderContent>
                <MudText Typo="Typo.body1">@record.PublisherDisplayName</MudText>
                <MudText Typo="Typo.body2" Style="@($"color:{Colors.Grey.Lighten1};")">@record.PublishTime.ToString("yyyy-MM-dd HH:mm:ss")</MudText>
            </CardHeaderContent>
        </MudCardHeader>

        @if (record.Images.Count > 1)
        {
            <MudCardContent>
                <MudCarousel ShowBullets="false"
                             Style="height:200px;margin:0 auto"
                             EnableSwipeGesture="true" AutoCycle="true" TData="object">
                    @foreach (var image in record.Images)
                    {
                        <MudCarouselItem Transition="Transition.Slide">
                            <MudCardMedia Image='@($"{Program.APIEndPoint}/api/record/images/{image}")' Height="200" />
                        </MudCarouselItem>
                    }
                </MudCarousel>
            </MudCardContent>
        }

        @if (record.Images.Count == 1)
        {
            <MudCardMedia onclick="@(()=>{OpenImageDialog(record.Images[0]);})" Image='@($"{Program.APIEndPoint}/api/record/images/{record.Images[0]}")' Height="200" />
        }

        <MudCardContent>
            <MudText Typo="Typo.body1" Style="font-weight: bold;">@record.Title</MudText>
            <MudText Typo="Typo.body2">@record.Content</MudText>
        </MudCardContent>
    </MudCard>
}

<MudPagination @ref="Pagination" Color="Color.Primary" Count="@PageCount" Style="margin:10px" SelectedChanged="OnSelectPageAsync" />