@inherits LiJunSpace.ViewModels.NewRecordComponentViewModel;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@page "/newRecord"

<MudCard Style="margin:5px 5px 5px 5px;height:100%">
    <MudDrawer @bind-Open="@Open" Width="@Width" Height="@Height" Anchor="@Anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All">查看大图</MudNavLink>
            <MudNavLink OnClick="RemoveUploadImage">移除图片</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <div style="display: flex">
        <MudButton HtmlTag="label"
                   Style="margin-left:auto;margin-right:20px;margin-top:10px"
                   Variant="Variant.Filled"
                   OnClick="@PublishNewRecordAsync"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Publish">
            发布
        </MudButton>
    </div>
    <MudCardContent xs="12">
        <MudTextField @bind-Value="@Title" For="@(() =>Title)" xs="12" Label="标题" Variant="Variant.Outlined" Clearable="true" />
    </MudCardContent>
    <MudCardContent xs="12">
        <MudTextField T="string" xs="12" Label="正文" For="@(() =>Content)" Clearable="true" Variant="Variant.Outlined" @bind-Value="@Content" Lines="5" />
    </MudCardContent>

    <MudFileUpload Accept=".png, .jpg" T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFilesAsync">
        <ButtonTemplate>
            <MudButton HtmlTag="label"
                       Style="margin-left:15px"
                       Variant="Variant.Filled"
                       Color="Color.Primary"
                       StartIcon="@Icons.Material.Filled.CloudUpload"
                       for="@context.Id">
                上传图片
            </MudButton>
        </ButtonTemplate>
    </MudFileUpload>
    <MudStack Row="true" Style="min-height:20px" Class="d-flex flex-wrap">
        @if (ImageList != null && ImageList.Count > 0)
        {
            @foreach (var file in ImageList)
            {
                <MudItem Class="pa-4">
                    <MudImage ObjectFit="ObjectFit.Fill"
                              onclick="@(()=>{OpenImageDrawer(Anchor.Bottom,file);})"
                              Width="96" Height="96" Src="@file.File" Alt="@file.Name" Elevation="25" Class="rounded-lg" />
                </MudItem>
            }

        }
    </MudStack>
</MudCard>

