@page "/profile/{Id}"
@inherits LiJunSpace.ViewModels.ProfileComponentViewModel;

<MudOverlay @bind-Visible="IsDialogVisible" DarkBackground="true" AutoClose="true">
    <div style="display: flex; justify-content: center;">
        <MudImage Style="width:90%;margin:0 auto" Src='@Profile.Avatar'
                  alt="Enlarged Image" ObjectFit="ObjectFit.ScaleDown" />
    </div>
</MudOverlay>
<MudDrawer @bind-Open="@Open" Width="100%" Height="40" Anchor="@Anchor" Elevation="1" Variant="@DrawerVariant.Temporary">
    <MudNavMenu>
        <MudNavLink OnClick="OpenImageDialog">查看大图</MudNavLink>
    </MudNavMenu>
</MudDrawer>
<MudCard Style="margin:10px 10px 10px 10px">
    <MudCardHeader>
        <CardHeaderAvatar>
            <MudImage Src="@Profile.Avatar" Width="70" ObjectFit="ObjectFit.Cover" onclick="@(()=>{OpenAvatarDrawer(Anchor.Bottom);})"></MudImage>

        </CardHeaderAvatar>
        <CardHeaderContent>
            <MudText Typo="Typo.body1">@Profile.DisplayName</MudText>
            <MudText Typo="Typo.body1">用户名：@Profile.UserName</MudText>
            <MudText Typo="Typo.body1">@(Profile.Sex ? "男" : "女")</MudText>
        </CardHeaderContent>

        <CardHeaderActions>
            @if (CanEdit)
            {
                <MudFileUpload Accept=".png, .jpg" T="IBrowserFile" FilesChanged="OnSelectedAvatar">
                    <ButtonTemplate>
                        <MudIconButton HtmlTag="label"
                                       Color="Color.Default"
                                       Icon="@Icons.Material.Filled.PhotoCamera"
                                       for="@context.Id">
                        </MudIconButton>
                    </ButtonTemplate>
                </MudFileUpload>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="EditProfile" Color="Color.Default" />
            }
        </CardHeaderActions>

    </MudCardHeader>
    <MudCardContent>
        <MudText Typo="Typo.body2">
            个人签名: @if (Profile.Signature == null)
            {
                <span>暂无</span>
            }
            else
            {
                <span>@Profile.Signature</span>
            }
        </MudText>
    </MudCardContent>
    <MudCardContent>
        <MudText Typo="Typo.body2">生日: @Profile.Birthday</MudText>
    </MudCardContent>
</MudCard>